h1 {
  text-align: center;
}

.first {
  background-color: rgb(235, 200, 84);
  font-size: 20px;
  height: 50px;
  text-align: center;
  width: 200px;
}

.second {
  background-color: rgb(219, 219, 219);
  font-size: 20px;
  height: 50px;
  text-align: center;
  width: 300px;
}

.third {
  background-color: rgb(170, 142, 106);
  font-size: 20px;
  height: 50px;
  text-align: center;
  width: 300px;
}

.first{
  list-style: none;
  display: block;
  margin: auto;
}

.second{
  list-style: none;
  display: inline-block;
  align-self: auto;
}

.third{
  list-style: none;
  display: inline-block;
  align-self: auto;
}

.award li{
  list-style: none;
  display: inline-block;
}

section:nth-of-type(2){
  text-align: center;
}

